<!DOCTYPE html>
<html>
<head>
    <title>Register - Leave Management System</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

    <div class="container">

        <h2>Register</h2>

        <form method="POST" action="/register">

            <label>Full Name</label>
            <input type="text" name="name" placeholder="Enter Full Name" required>

            <label>Email</label>
            <input type="email" name="email" placeholder="Enter Email" required>

            <label>Password</label>
            <input type="password" name="password" placeholder="Enter Password" required>

            <label>Select Role</label>
            <select name="role">
                <option value="Student">Student</option>
                <option value="Faculty">Faculty</option>
                <option value="Admin">Admin</option>
            </select>

            <button type="submit">Register</button>

            <p>Already have an account?
                <a href="/login">Login</a>
            </p>

        </form>

    </div>

</body>
</html>